/* OBRAZKY CSS */
.container-obrazky{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    gap: 5%;
    background: linear-gradient(to right, #f6bb68ad, #91774fe0);


    background-color: antiquewhite;
    border-radius: 10px;
}

.container-obrazky img {
    border-radius: 10px;
    max-width: 40%;
    max-height: 500px;
}



/* OBRAZEK */
  .img-comp-container {
  position: relative;
  width: 90%;
  height: 530px; /* poměr 4:3 */
  margin: auto;
  overflow: hidden;
}
  
  .img-comp-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .img-comp-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
  .img-comp-overlay {
    width: 50%; /* startovní šířka horního obrázku */
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 60px;
    height: 60px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  /* mobil */
@media (max-width: 600px) {
  .img-comp-container {
    width: 90%;
  }
}



/* BUBLINY */
.bubbleWrapper_special_header{
    display: flex;
    width: 70%;
    height: 5rem;
    margin-top: 5em;

    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-self: center;
    background-color:var(--red-color); /* černá */
    font-size: small;
    /* text-align: center; */
    justify-content: center;
    align-items: center;

}
.bubbleWrapper_special {
    display: flex;
    width: 70%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    justify-self: center;
  }
  .bubbleLeft_special {
    background-color:var(--red-color); /* černá */
    color: white;
    width: 30%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
  }
  .bubbleRight_special {
    background-color: #f5f5f5;
    width: 70%;
    padding: 20px;
  }
  .bubbleRight_special ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .bubbleRight_special ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: #333;
  }
  .bubbleRight_special ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 12px;
    height: 12px;
    background-color: rgba(193, 25, 25, 0.975);
    border-radius: 50%;
  }